@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap&family=Montserrat&display=swap");

$col-1: #333;
$col-2: #4f4f4f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

header {
  padding: 40px 77px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.grid {
  min-height: 100vh;
  padding: 0 77px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .img,
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .img {
    img {
      max-width: 80%;
    }
  }

  .info {
    h1 {
      font-size: 4rem;
      margin-bottom: 36px;
      color: $col-1;
    }

    p {
      width: 50%;
      font-size: 24px;
      margin-bottom: 64px;
      color: $col-2;
    }

    .btn {
      background-color: $col-1;
      color: #fff;
      width: 216px;
      height: 68px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  padding: 40px 77px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: $col-1;
  font-weight: 600;
}

@media (max-width: 768px) {
  header {
    padding: 24px 20px;
  }

  .grid {
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    .img {
      width: 100%;
      padding: 24px 0;

      img {
        margin: auto;
        width: 100%;
      }
    }

    .info {
      h1 {
        font-size: 48px;
      }

      p {
        width: 100%;
        font-size: 18px;
      }
    }
  }
}
